.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

.isDisabled {
    background-color: darkgrey!important;
    color: floralwhite!important;
}

$background-dark: #512DA8;

.isEnabled {
    background-color: $background-dark!important;
    color: floralwhite!important;
  }